.header {
    background-color: chartreuse;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  

}

.menu>nav{
   display: flex;
   margin-right: 150px;

}

.entrar {
    margin-right: 20px;
      
}

.Cadastre-se {
    margin-left: 20px;

}

nav {
text-decoration: none;
font-size: 40px;
text-transform: uppercase;
}

.logotipo {
    height: 40%;
    width: 50%;
    margin-left: 150px;
}