* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;

}



:root {

    --fonte_raleway: 'Raleway', sans-serif;
    --font-family: 'Mochiy Pop One', sans-serif;

}

body {
    font-family: var(--fonte_raleway);

}

header {
    background-color: rgb(251, 247, 247);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}


.header {
    height: 60px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-family: var(--fonte_raleway);

}

.entrar {
    margin-right: 10px;
    font-size: 15px;
    font-weight: bolder
}

.Cadastre-se {
    /* margin-right: 180px;   */
    font-size: 15px;
    color: #FF6E22;
    /* margin-right: 50px; */
    font-weight: bolder
}


.logotipo {
    /* height: 80%;  PORQUE NAO MUDA DE TAMANHO? SOMENTE O WIDHT MUDA?*/
    /* width: 70%; */


    /* margin-left: 150px;  */
}


/* .primeira_secao {
background-color: #738456;
height: 400px;
font-size: 40px;

} */

.segunda_secao {
    background-color: rgba(255, 136, 0, 0.15);
    height: 700px;
    font-size: 40px;

}

.quadrado_esquerdo_e_direito {
    display: flex;



}


.quadrado_esquerdo {

    width: 50%;
    background-color: aqua;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.quadrado_direito {

    background-color: greenyellow;
    width: 50%;
    height: 450px;
    display: flex;
    align-items: center;
    /* justify-content: center; */


}

h1 {
    font-size: 45px;


}

.edicao1_h1 {
    position: relative;
    top: 50px;
    margin-left: 10%;
    font-weight: 700;
    font-size: 300%;

}

h2 {
    font-size: 26px;
    font-weight: 300;

}

.h2_quadrado_esquerdo {
    margin-left: 10%;

}

.Encontrar_Pet {

    background-color: #FF8800;
    color: white;
    border: none;
    height: 50px;
    width: 230px;
    border-radius: 1vh;
    font-weight: -100;
    font-size: 18px;
    font-family: 'Mochiy Pop One', sans-serif;

    margin-top: 20px;
    margin-left: 10%;

}

.alinhamento_quadrado_esquerdo {
    position: relative;
    bottom: 100px;
}

.grupo_cachorros {

    height: 90%;
    margin-left: 2%;

}

.titulo_secao2 {

    margin-top: 60px;


    text-align: center;
    width: 53%;

}

.edicao_texto_Selecione {
    display: flex;
    justify-content: center;
}




.mulheres_com_canhorros {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.secao3 {

    background-color: #FF6E22;
    height: 600px;
}

/* .secao3 {
    display: flex;
} */

.textos_secao3 {
    width: 50%;
}

.teste_container_S3 {
    display: flex;
}